.pokemons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
}

.pokemon {
    margin: .5rem;
    padding: 1rem 1rem;
    /* background-color: #48D0B0; */
    color: #fff;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.name {
    color: #fff;
    margin: 0rem 0; 
    text-transform: capitalize;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.pokemon .detail .image{
    display: grid;
    grid-template-areas: "image1" "image2";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;

    img{
        max-width: 100%;
        height: 70px;
        width: 70px;
        object-fit:contain;
        position: relative;
        /* background-image: url(../images/pokeball_vetor.png);
        background-size: 110px; */
        /* border-radius: 0px 20px 10px; */
        background-repeat: no-repeat;
        overflow: hidden;
    }

    img:nth-child(1){
        grid-area: image1;
        z-index: 1;
        margin-bottom: -70px;
        height: 80px;
        mix-blend-mode: color-burn;
    }
    
    img:nth-child(2){
        grid-area: image2;
        z-index: 2;
    }
}

.number {
    color: #3032327a;
    text-align: right;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
    text-transform: capitalize;
}

.type {
    /* background-color: #5DDFC6; */
    color:#fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .825rem;
    text-align: center;
    border-radius: .625rem;
    filter: brightness(1.1);
}

@media screen and (min-width: 410px) {
    .pokemons {
      grid-template-columns: 1fr 1fr ;
    }
}

@media screen and (min-width: 600px) {
    .pokemons {
      grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.normal{
    background-color: #ACAA7A;
}
.flying{
    background-color:  #9E8FC5;
}
.water{
    background-color: #6E8BC6;
}
.ice{
    background-color:  #98D6D5;
}
.fire{
    background-color:  #F17F2D;
}
.dragon{
    background-color:  #6357A6;
}
.electric{
    background-color: #F7D233;
}
.steel{
    background-color:  #B8B8D2;
}
.rock{
    background-color:  #B9A338;
}
.ground{
    background-color:  #E0C166;
}
.grass{
    background-color:  #79C251;
}
.fairy{
    background-color:  #F7CBDF;
    color: #85787d;
}
.psychic{
    background-color:  #F05889;
}
.fighting{
    background-color:  #C4312B;
}
.bug{
    background-color:  #AABA39;
}
.poison{
    background-color:  #9E4399;
}
.dark{
    background-color:  #725A4A;
}
.ghost{
    background-color:  #71599A;
}
